/*** 
====================================================================
	Gallery Section
====================================================================
***/

.gallery-section {
    position: relative;
    padding: 120px 0;
    z-index: 1;

    .icon-line-1 {
        left: -320px;
        top: 225px;
    }

    .icon-dots-7 {
        right: -190px;
        top: 40px;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;

    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    a {
        position: relative;
        display: block;

        &:before {
            content: "\e051";
            color: #ffffff;
            font-size: 42px;
            font-family: 'linearicons-free';
            background: rgba(78, 205, 153, .90);
            border-radius: 15px;
            transition: all 300ms ease;
            transform: scale(.7);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover:before {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover img {
        transform: scale(1.1);
        border-radius: 10px;
    }
}

.gallery-carousel .owl-nav,
.gallery-carousel .owl-dots {
    display: none;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal-close-button {
    float: right;
    margin-bottom: -8px;
    margin-right: 50px;
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 74vh;

    .modal-nav-button {
        background: rgba(255, 255, 255, 0.8);
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        &.prev {
            left: 10px;
        }

        &.next {
            right: 43px;
        }
    }
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;

    &.current-image {
        z-index: 1; // Show current image on top
    }

    &.side-image {
        width: 40%; // Adjust width as necessary for side images
        opacity: 0.5; // Dim side images
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1; // Highlight on hover
        }
    }
}
