/*** 
====================================================================
Main Header
====================================================================
***/

.header-span {
  display: block;
  height: 110px;
  position: relative;
  width: 100%;
}
.main-header {
  position: relative;
  width: 100%;
  z-index: 999;
}
.header-top {
  background: var(--bg-theme-color2);
  display: flex;
  padding: 10px 0;
  position: relative;
  .inner-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .top-left { 
    align-items: center;
    display: flex;
    padding: 10px 0;
    position: relative;
    .text{
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  .top-right {
    position: relative;
    display: flex;
    align-items: center;
  }
  .useful-links{
    align-items: center;
    display: flex;
    margin-right: 30px;
    padding: 10px 0;
    li{
      color: #ffffff;
      font-size: 14px;
      line-height: 20px;
      margin-left: 15px;
      padding-left: 15px;
      position: relative;
      &:first-child{
        margin-left: 0;
        padding-left: 0;
      }
      &:before{
        content: "|";
        left:-3px;
        position: absolute;
        top: 0;
      }
      a{
        color: #ffffff;
        transition: all 300ms ease;
        &:hover{
          color: var(--theme-color1);
        }
      }
    }
  }
  .outer-box{
    display: flex;
    justify-content: flex-end;
    min-width: 210px;
  }
}
.main-header .header-lower {
  position: relative;
  transition: all 300ms ease;
  .logo-box {
    min-width: 280px;
    padding: 24px 0;
    position: relative;
  }
}
.main-header {
  width: 100%;
  z-index: 999;
  .logo {
    display: block;
    position: relative;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .main-box {
    align-items: center;
    display: flex;
    left: 0px;
    position: relative;
    top: 0px;
    transition: all 300ms ease;
    .nav-outer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }
  }
}
.main-menu{
  position:relative;
}
.main-menu .navbar-header{
  display: none;
}
.main-menu .navbar-collapse{
  padding:0px;    
}
.main-menu .navigation{
  margin:0px;
  position:relative;
}
.main-menu .navigation > li{
  float:left;
  margin-right: 60px;
  padding:25px 0px;
  position:relative;
  transition:all 300ms ease;
  &:last-child {
    margin-right: 0;
  }
  &:before {
    background-color: var(--bg-theme-color2);
    bottom: 23px;
    content: "";
    height: 2px;
    left:50%;
    position: absolute;
    transition: all 300ms ease;
    width: 0%;
  }
  &:hover:before,
  &.current:before {
    left: 0;
    width: 100%;
  }
  >a{
    color: #7d8185;
    display: flex;
    font-size:18px;
    line-height:30px;
    font-weight:500;
    opacity:1;
    padding: 0;
    position:relative;
    text-align:center;
    transition:all 300ms ease;
    .icon {
      font-size: 22px;
      line-height: 24px;
      margin-left: 10px;
      position: relative;
    }
    &:hover{
      color: var(--theme-color2);
    }
  }
  &.current>a {
    color: var(--theme-color2);
    font-weight: 700;
  }
  &.dropdown>a {
    margin-right: -14px;
    padding-right: 14px;
  }
  &.dropdown>a:after {
    content: "\f107";
    display: block;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 20px;
    line-height: 24px;
    margin-top: -2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    z-index: 5;
  }
  &.dropdown:hover>ul {
    margin-top: 0;
    opacity: 1;
    top: 100%;
    visibility: visible;
    transition: all 300ms ease;
  }
}

.main-menu .navigation > li > ul{
  background-color: #ffffff;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
  display: none;
  left: 0px;
  margin-top: 30px;
  opacity: 0;
  padding: 10px 0 0;
  position: absolute;
  top: 100%;
  width: 220px;
  z-index: 100;
  &.from-right{
    left:auto;
    right:0px;  
  }
  >li{
    border-bottom: 1px solid #ebf1f5;
    position:relative;
    width:100%;
    &:last-child {
      border-bottom: none;
    }
    >a{
      color:var(--bg-theme-color1);
      display:block;
      font-size:16px;
      font-weight:400;
      line-height:29px;
      margin: 0 30px;
      padding:10px 0px;
      position:relative;
      text-align: left;
      text-transform:capitalize;
      transition:all 200ms ease;
    }
    &:hover > a{
      color:var(--theme-color2);
    }
    &.dropdown > a:after{
      font-family: 'Font Awesome 5 Free';
      content: "\f105";
      position:absolute;
      right:0;
      top:11px;
      display:block;
      line-height:24px;
      font-size:11px;
      font-weight:900;
      z-index:5;  
    }
    &.dropdown:hover>ul {
      visibility: visible;
      opacity: 1;
      top: 0px;
      margin-top: 20px;
      transition: all 300ms ease;
    }
  }
}

.main-menu .navigation > li > ul > li > ul{
  background-color:#ffffff;
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  display:none;
  left:100%;
  margin-top: 10px;
  opacity:0;
  padding: 10px 0 0;
  position:absolute;
  top:0px;
  transform:translateY(-30px);
  width:220px;
  z-index:100;
  > li{
    border-bottom: 1px solid #ebf1f5;
    position:relative;
    width:100%;
    &:last-child{
      border-bottom:none; 
    }
    > a{
      color:var(--theme-color1);
      display:block;
      font-size:16px;
      font-weight:400;
      line-height:24px;
      margin: 0 30px;
      padding:10px 0;
      position:relative;
      text-align: left;
      text-transform:capitalize;
      transition:all 300ms ease;
      &:hover{
        color:var(--theme-color2);
      }
    }
  }
}

.main-menu .navigation li.dropdown .dropdown-btn{
  border:1px solid #ffffff;
  color:#ffffff;
  cursor:pointer;
  display:none;
  font-size:16px;
  height:30px;
  line-height:26px;
  position:absolute;
  right:10px;
  text-align:center;
  top:8px;
  width:34px;
  z-index:5;
}

.main-header .main-box .outer-box {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 10px 0;
  position: relative;
  margin-left: 40px;
  .theme-btn{
    line-height: 24px;
    margin-left: 30px;
    padding: 15px 60px;
  }
  .ui-btn-outer{
    align-items: center;
    border-left: 1px solid #e6e8ed;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    padding: 6px 0;
    @media (max-width: 1199.98px) {
      border-left: none;
      margin-left: 0;
    }
  }
}


.main-header .ui-btn {
  background: none;
  color: var(--theme-color1);
  display: block;
  font-size: 26px;
  height: 30px;
  line-height: 30px;
  margin-left: 30px;
  position: relative;
  text-align: center;
  transition: all 300ms ease;
  width: 30px;
  &:hover {
    color: var(--theme-color2);
  }
}

.main-header .info-btn {
  color: var(--theme-color1);
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 0;
  padding-left: 65px;
  position: relative;
  text-align: left;
  small {
    font-size: 14px;
    font-weight: 400;
    color: #7d8185;
  }
  i {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -27px;
    line-height: 55px;
    height: 55px;
    width: 55px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: var(--bg-theme-color2);
    font-size: 18px;
  }
  &:hover{
    color: var(--bg-theme-color2);
  }
}


/*** 
====================================================================
Header Style One
====================================================================
***/

.header-style-one {
  .main-box {
    box-shadow: 0 10px 60px rgba(0, 0, 0, .10);
    padding-left: 0;
    padding-right: 40px;
  }
  .logo-box {
    align-items: center;
    display: flex;
    min-width: 375px;
    min-height: 90px;
    padding: 20px 40px;
    position: relative;
  }
}

/*** 
====================================================================
  Header Style Two
====================================================================
***/

.header-style-two{
  .header-upper{
    position: relative;
    .inner-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo-box{
      .logo{
        padding: 21px 0;
      }
    }
  }
  .contact-info-outer{
    display: flex;
    align-items: center;
    li{
      position: relative;
      padding-left: 25px;
      margin-left: 25px;
      &:before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #dae6e6;
        transform: rotate(10deg);
        content: "";
      }
      &:first-child{
        &:before{
          display: none;
        }
      }
    }
  }
  .header-lower{
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    .main-box{
      background-color: var(--bg-theme-color3);
      padding-left: 50px;
      .outer-box{
        padding: 0;
        .ui-btn-outer{
          border-left: 1px solid rgba(255, 255, 255, .20);
          padding-right: 30px;
          .ui-btn{
            color: #fff;
            font-size: 22px;
            line-height: 35px;
            font-weight: 400;
            margin-left: 20px;
          }
        }
        .theme-btn{
          padding: 15px 60px;
          line-height: 30px;
          margin-left: 0;
        }
      }
    }
    .main-menu .navigation>li{
      padding: 15px 0;
      &:before{
        display: none;
      }
      >a{
        color: #f0f2f4;
        font-weight: 400;
      }
      &:hover > a,
      &.current>a {
        color: #ffffff;
      }
    }
  }
}

.contact-info-box{
  position: relative;
  padding-left: 54px;
  .icon {
    color: var(--theme-color2);
    font-size: 34px;
    line-height: 50px;
    left: 0;
    position: absolute;
    top: 0;
  }
  .title {
    color: #7d8185;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  .text{
    color: var(--theme-color1);
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}


/*** 
====================================================================
  Sticky Header
====================================================================
***/

.sticky-header {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,.05);
  left: 0px;
  opacity: 0;
  padding: 0px 0px;
  position: fixed;
  top: 0px;
  visibility: hidden;
  width: 100%;
  z-index: 99999;
}
.sticky-header.fixed-header{
  opacity:1;
  visibility:visible;
  z-index: 9999;
}
.sticky-header{
  .logo {
    padding: 10px 0;
    img {
      max-height: 40px;
    }
  }
  .nav-outer {
    position: relative;
    background: none;
  }
  .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sticky-header .main-menu .navigation > li{
  margin: 0;
  margin-left: 40px;
  padding: 20px 0;
}
.sticky-header .main-menu .navigation > li > a{
  color: #707070;
}
.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
  color: var(--theme-color2);
}
.sticky-header .main-menu .navigation>li:before{
  display: none;
}
.sticky-header .outer-box,
.sticky-header .navbar-header {
  display: none;
}
.sticky-header .mobile-nav-toggler {
  color: var(--theme-color1);
}