/* Banner Section Styles */
.banner-section {
  position: relative;
  // margin-bottom: -120px;

  .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 820px;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: 1;
      height: 100%;
    }

    .content-column {
      position: relative;
      z-index: 2;
      padding: 40px 0 30px;
      margin-top: 50px;
      @media (max-width: 991.98px) {
        padding: 50px 0 100px 30px;
      }

      .content-box {
        position: relative;
        margin-top: 100px;
        @media (max-width: 991.98px) {
          margin-top: 0;
        }
        .sub-title {
          position: relative;
          display: inline-block;
          line-height: 30px;
          font-size: 16px;
          color: #7d8185;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: .1em;
          &:before {
            position: absolute;
            left: 0;
            top: 100%;
            height: 15px;
            width: 221px;
            background: url(../images/main-slider/icon/icon-lines.png) center no-repeat;
            content: "";
          }
        }
        .title {
          position: relative;
          display: block;
          font-size: 84px;
          line-height: 1em;
          color: #191e24;
          font-weight: 900;
          margin-bottom: 40px;
          margin-top: 30px;
          @media (max-width: 575.98px) {
            font-size: 50px;
          }
          .colored {
            color: var(--bg-theme-color3);
          }
        }
        .style-font {
          display: inline-block;
          color: #f89321;
          font-weight: 400;
        }
        .btn-box {
          .theme-btn {
            &:hover {
              color: #fff;
            }
            &::before {
              background-color: #00c7c4;
            }
          }
        }
      }
    
    .tp-caption {
      padding: 0;
      text-align: top;
      .text {
        font-size: 18px;
        line-height: 1.5em;
        color: #7d8185;
        margin: 20px 0;
        margin-bottom: 30px;
      }
    }
  }


    .image-column {
      position: relative;
      z-index: 9;
      margin-top: 120px;

      .image-box {
        position: relative;

        .cirkle {
          position: absolute;
          width: 700px; /* Adjust as per your needs */
          height: 600px;
         
          overflow: hidden; /* Ensure the image fits inside the circle */
         
          display: block;
          z-index: -1;
          background-color: transparent; /* Or any color to match the design */
        }
        .cirkle-1 {
          position: absolute;
          width: 700px; 
          height: 600px;
          border-radius: 50%;
          overflow: hidden; /* Ensure the image fits inside the circle */
          margin-top:-660px;
         
          z-index: -1;
          background-color: transparent;
        }

        .cirkle-2 {
          top: 480px;
          left: -170px;
          width: 300px;
          height: 300px;
        }

        .cirkle-3 {
          top: 83px;
          left: 111px;
          width: 200px;
          height: 200px;
        }

        .animate-circle {
          animation: slideIn 1.5s ease-in-out 2s forwards;
          opacity: 0;
        }

        @keyframes slideIn {
          from {
            opacity: 0;
            transform: translateY(100%);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .image {
          // margin-bottom: 0;
          // margin-top: -125px;
          width: 666px;
          height: 799px;
          img {
            filter: drop-shadow(-10px -10px 20px rgba(0, 0, 0, 0.2));
            width: 666px;
            height: 799px;
            // margin-top: 127px;
            object-fit: cover; /* Ensures the image fits perfectly in the circle */
            // border-radius: 50%; /* Circular image */
          }
        }
      }
    }
  }
}


.banner-carousel {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #f89321;
    font-size: 20px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
